<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="defaultConnection" connectionString="Server=LAPTOP-TREG306B\SQLEXPRESS;Database=ADO.Practiece;Integrated Security=True"
			 providerName="System.Data.SqlClient"/>

	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>